<body>
    <div class="seccion">
        <div class="container p-5 d-flex justify-content-center">
            <div class="card pt-4 text-center tarjeta">
                <div>
                    <h2 class="fs-4 fw-bold">Set your maximum calorie limit here!</h2>
                    <h4 class="fs-6">Answer the following questions in order to have your food information</h4>
                    <div class="d-flex justify-content-evenly stats">
                        <div class="consumed">
                            <h4>1.291</h4>
                            <h4>Consumed</h4>
                        </div>
                        <div class="remaining">
                            <h4 class="fw-bold">892</h4>
                            <h4>Remaining</h4>
                        </div>
                        <div class="burned">
                            <h4>244</h4>
                            <h4>Burned</h4>
                        </div>
                    </div>
                    <div class="topicos">
                        <div class="topico">
                            <div class="d-flex">
                                <img src="assets/iconos/medio.png" alt="alerta error">
                                <div class="px-3">
                                    <h4 class="fw-bold">Breakfast</h4>
                                    <h4 >56/630 kcal</h4>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn botonPlus"><a href="/diary"><img src="assets/iconos/plus.svg" alt="plus"> COMPLETE INFORMATION</a></button>
                            </div>
                        </div>
                        <div class="topico">
                            <div class="d-flex">
                                <img src="assets/iconos/medio.png" alt="alerta error">
                                <div class="px-3">
                                    <h4 class="fw-bold">Lunch</h4>
                                    <h4 >30/670 kcal</h4>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn botonPlus"><a href="/diary"><img src="assets/iconos/plus.svg" alt="plus"> COMPLETE INFORMATION</a></button>
                            </div>
                        </div>
                        <div class="topico">
                            <div class="d-flex">
                                <img src="assets/iconos/lleno.png" alt="alerta error">
                                <div class="px-3">
                                    <h4 class="fw-bold">Dinner</h4>
                                    <h4 >370/520 kcal</h4>
                                </div>
                            </div>
                            <div>
                                <button disabled type="button" class="btn botonSucceed"><a href="/">COMPLETED</a></button>
                            </div>
                        </div>
                        <div class="topico">
                            <div class="d-flex">
                                <img src="assets/iconos/lleno.png" alt="alerta error">
                                <div class="px-3">
                                    <h4 class="fw-bold">Snacks</h4>
                                    <h4 >20/30 kcal</h4>
                                </div>
                            </div>
                            <div>
                                <button disabled type="button" class="btn botonSucceed"><a href="/">COMPLETED</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navigation">
                    <div>
                        <a href="/calorias"><img src="assets/iconos/flecha.svg" alt="Flecha"></a>
                    </div>
                    <div class="derecha">
                        <a href="/calorias">
                            <h3>Next</h3>
                            <img src="assets/iconos/flecha.svg" alt="Flecha">
                        </a>
                    </div>
                </div>
                <div class="seccionFinal">
                    <div class="alert">
                        <img src="assets/iconos/alertaRoja.svg" alt="alerta error">
                        <div>
                            <h4>You must complete all the information in order to send it</h4>
                        </div>
                    </div> 
                    <button disabled type="button" class="btn botonEnviar"><a href="https://www.google.com">Send my information</a></button>
                </div>               
            </div>
        </div>
        <div class="informacion">
            <button type="button" class="btn botonInfo"><a href="https://www.google.com"><img src="assets/iconos/info.svg" alt="info"> ¿Tienes alguna duda?</a></button>
        </div>
    </div>
  
</body>
