<section class="principal">
    <div class="primeraSeccion">
        <div class="infoPrincipal">
            <h4>Keep track of your <br> daily calorie limit!</h4>
        </div>
        <div class="seccionPalabra">
            <h1 class="texto">DA NO NE</h1>
        </div>
        <div class="solapa"></div>
        <div class="solapa2"></div>
    </div>
    <div class="carpeta container-fluid">
        <div class="seccionContenido">
            <div class="contenido">
                <h4>Tell us your maximum daily calorie <br> intake and we will recommend the <br> products that best suit your goals!</h4>
                <button type="button" class="btn" ><a href="/calorias">Start now</a></button>
            </div>
            <div class="imagenPrincipal"><img src="assets/img/principal.png" alt="Imagen Principal"></div>
        </div>
    </div>
    
</section>