<nav class="">
  <div class="navBar">
    <div class="logoDanone"><a href="/principal"><img  src="assets/Logos/image3.png" alt="Logo Danone"></a></div>
    <div class="listaMenu">
      <ul class="mb-0" >
        <li><a href="/principal">Home</a></li>
        <li><a href="/calorias">Calories</a>
        <li><a href="/catalogo">Catalogue</a>
        <li><a href="/diary">Diary</a></li>
      </ul>
    </div>
    <div class="menu">
      <a href="/principal"><img src="assets/iconos/menu.svg" alt="Menu"></a> 
      <!-- <a href="/"><img src="assets/iconos/lupa.svg" alt="Lupa Busqueda"></a>  -->
      <a href="/principal"><img class="lupa" src="assets/iconos/user.svg" alt="User"></a> 
    </div>
  </div>
  <router-outlet></router-outlet>
</nav>