body{
    background-color: white;
    height: 100%;
}

.seccion{
    width: 100%;
    height: 100%;
}

.contenedor{
    width: 100%;
    margin: 0;
}

.seccion h2{
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
    color: #B3D3FF;
}

.encabezado{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    width: 100%;
    height: 46px;
    background: #E8F3FF;
    border-radius: 6px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.consumed, .burned {
    padding-top: 40px;
}

.remaining {
    padding: 40px 20px;
    border: 5px dashed #D5E8FF;
    border-radius: 100px;
}

.stats{
    margin: 30px 0;
}

.stats h4{
    font-size: 18px;
}

.topico{
    margin: 10px 40px;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #11ACED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.topico h4{
    font-size: 14px;
}

.botonPlus{
    padding: 5px 10px 10px 10px;
    background-color: #10249F;
    border: none;
    height: 40px;
    border-radius: 20px;
    
}

.botonPlus a{
    color: #F5F2F3;
    text-decoration: none;
    font-size: 14px;
}

.derecha{
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.derecha a{
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.derecha a:hover{
    text-decoration: underline;
}


.derecha h3{
    font-size: 130%;
}

.derecha img{
    transform: scaleX(-1);
    padding-bottom: 5px;
}

.productos{
    padding: 5px 10px 10px 10px;
    width: 100%;
}

.productosContainer{
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin-bottom: 20px;
}
  
.grid-item h3{
    font-size: 130%;
}


.grid-item img{
    max-height: 167px;
}

.add{
    filter: invert(1);
}

.add:hover{
    filter: invert(0.5);
}